@import '../../styles/variables.scss';

.Announcements {
    width: 100%;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .container {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        background: white;
        box-shadow: $standard-shadow;
    }
}
