@import '../../styles/variables.scss';

.Announcements {
    width: 100%;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 16px;
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        background: white;
        box-shadow: $standard-shadow;
    }
}
