@import '../../styles/variables.scss';

.EmployeeSpotlight {
    width: 100%;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
        
    }
}
