@import '../../styles/variables.scss';
// @import '../../styles/mixins.scss';

.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: $right-shadow;
    background: white;
    z-index: 10;
    box-sizing: border-box;
    
    .topMenu {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;

        .brand {
            margin: 0 0 32px 0;

            .logo {
                width: 100%;
                height: 50px;
            }
        }
    }

    .bottomMenu {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;

        a:nth-of-type(1) {
            display: flex;
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: flex-start;
            color: $detail-grey;
            transition: 0.15s ease all;
            box-sizing: border-box;

            &:hover {
                color: $primary-accent;
            }
        }
    }
}

.icon {
    width:25px;
    height:25px;
    margin: 0 8px 0 0;
}