@import '../../styles/variables.scss';

.Title {
    width: 100%;
    padding: 16px;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: $detail-grey;
}
