/* ---- COLORS ---- */
$primary-accent: #56CCF2;
$flame: linear-gradient(90deg, #EB5757 0%, #FF00A8 51.56%, #FF9900 94.79%);
$space: linear-gradient(180deg, #034866 0%, #3C239A 23.96%, #5712B2 43.23%, #720FBF 59.9%, #617DE3 86.98%, #5E94E7 90.62%, #56CCF2 100%);
$space2: linear-gradient(180deg, #000E22 28.65%, #008189 99.99%, #00FFF0 100%);
$space3: linear-gradient(180deg, #071D3F 54.69%, #0071A2 86.98%, #0092D1 99.99%, #00B2FF 100%);
$space4: linear-gradient(180deg, #071D3F 48.44%, #003A53 100%);
$dark-bg: #010E1D;
$dark-blue-bg: #071D3F;
$blue-bg: #034866;
$light-bg: #FFFFFF;

/* ---- SPACING ---- */
$margin-std: 16px 32px;
$padding-std: 16px 32px;
$padding-small: 8px 16px;
$none: 0 0 0 0;

/* ---- TYPOGRAPHY ---- */
$light-font: #FFFFFF;
$dark-font: #182933;

/* ---- SHADOWS ---- */
$btn-shadow-inset: inset 0px 0px 8px 10px rgba(200, 252, 255, 0.25);
$glow: 0px 0px 6px 2px rgba(192,243,255,0.81);
$glow-red: 0px 0px 6px 2px rgba(255, 192, 192, 0.81);
$flicker: 0px 0px 6px 2px rgba(101, 130, 136, 0.81);
$rocket-glow: 0px 3px 10px 8px rgb(255, 169, 10);