.PostLinkPlaceholder {
    width: 50%;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(87.19deg, #dce1ec -1.87%, #F6F7FB 104.39%);
    opacity: 0.75;
    margin: 0 16px 16px 0;
}